@import "root.css";

main{
    padding: 200px 0 100px 0;
}

h2.name-category{
    font-family: Poppins;
    font-size: 45px;
    line-height: 37px;
    padding-left: 10%;

    color: var(--color-earth);

}

/* --------Card ---------- */

.card{
    height: 480px;
    width: 300px;
}

.containerUp h3 {
    font-weight: 500;
}

.information {
    width: 100%; 
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5em;
}

.containerUp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}